@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.459),
        rgba(0, 0, 0, 0.836)
    ), url(https://img.freepik.com/vector-premium/diseno-fondo-abstracto-flujo-color-naranja_665888-171.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.center__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0px 0px 10px;
    width: 350px;
    height: 410px;
    background-color: #fb771a;
}
.title{
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.login__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 400px;
    height: 410px;
}

.logo {
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
    height: 8vh;
}

.input__field {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.input {
    width: 300px;
    height: 45px;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    color: black;
    outline: none;
    padding: 0 0 0 35px;
    margin-bottom: 5px;
    border-radius: 0px;
    cursor: pointer;
}
::-webkit-input-placeholder{
    color: black;
}
.input__field i {
    position: absolute;
    color: black;
    top: 14px;
    left: 10px;
    font-size: 18px;
}
.three_cols{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
}

.three_cols label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: black;
}
.three_cols label input{
    margin-right: 5px;
}
.three_cols a {
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.submits{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #fb771a;
    color: white;
    margin-bottom: 10px;
    transition: .3s ease-in-out;
}
/*seccion de google*/
.sign__log{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.sign__log img{
    width: 20px;
    height: 30px;
}
.sign_save{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 45px;
    background: gray;
    border-radius: 5px;
    margin-bottom: 5px;
}
.sign_save:hover{
    transform: scale(105%);
}
.sign_save h1{
    font-size: 12px;
    margin-left: 10px;
}
.log_one{
    width: 145px;
    -webkit-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    background: white;
    margin-bottom: 8px;
    margin-right: 10px;
    border: none;
}
.log_two{
    width: 145px;
    background: blue;
    color: white;
    border: none;
}

.two__cols{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.two__cols h1{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.781);
    font-weight: 100;
}
.two__cols a{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px;
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
    margin-top: 20px;
}
@media screen and (max-width: 800px) {

    .login {
        display: flex;
        flex-direction: column;
    }

    .center__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 0px 0px;
        width: 400px;
        height: 180px;
        background-color: #fb771a;
    }
    .login__container{
        border-radius: 0px 0px 10px 10px;
    }
    
}